/**
    **** begin of css reset***
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/**   end of css reset       **/

/* >> base */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track { /*滚动条轨道*/
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: rgba(100,100,100,0.4);
}
::-webkit-scrollbar-thumb { /*滚动条*/
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(0,169,119,0.7); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5),0 0 5px rgba(0,169,119,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4),0 0 5px rgba(0,169,119,0.5); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,169,119,0.9); 
    box-shadow: 0 0 8px rgba(0,169,119,0.8); 
    -webkit-box-shadow: 0 0 8px rgba(0,169,119,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {/*滚动条失去焦点情况*/
    background: rgba(205,205,205,0.3); 
}
::-webkit-scrollbar-corner { /*控制横竖滚动条的接触角落*/
    background-color: rgba(0,0,0,0.8);
}
::-webkit-resizer { /*控制可resize的corner*/

}
::selection {
    background-color: #00a977;
    background-color: rgba(0,169,119,0.5);
    color: #ddd;
}
html, body{
    font-family:"Microsoft YaHei", "微软雅黑", Tahoma, Verdana, SimSun, "宋体", Heiti, "黑体", Helvetica, Arial, sans-serif;
    background-color: #292927;
    min-height: 100%;
    letter-spacing: 1px;
}
.lf_site {
    min-height: 100%;
    width: 1200px;
    overflow: hidden;
    margin: auto;
}
.lf_header, .lf_main, .lf_footer {
    margin: auto;
    margin-top: 1em;
    padding: 0 15px;
}
.lf_header {
    /*border-bottom: 1px dotted #5A7E69;*/
    width: 120px;
    position: fixed;
}
.lf_footer {
    position: fixed;
    font-size: 12px;
    width: 170px;
    text-align: center;
    vertical-align: top;
    /*border-top: 1px dotted #781D1C;*/
    color: #b59a85;
    margin-left: 1000px;
    bottom: 1em;
}
.lf_footer, .lf_header {
    opacity: 0.2;
    transition: opacity 0.2s ease-in;
}
.lf_footer:hover, .lf_header:hover {
    opacity: 1;
}
.lf_footer .lf_license {
    margin: 10px auto; 
}
.lf_footer .lf_designer{
    margin: 10px auto;
}
.lf_footer .lf_ico {
    margin-top: 2em;
}
.lf_footer .lf_update_time {
    display: inline-block;
    line-height: 1.2em;
    background-color: #a0a977;
    color: #eee;
    padding: 5px;
    margin: auto;
    opacity: 0.7;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
.lf_footer .lf_update_time:hover {
    background-color: #00a977;
    opacity: 0.9;
}

.lf_ico .lf_ico_txt, .ico_China, .ico_chrome, .ico_firefox {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    margin-right: .5em;
    margin-bottom:  .5em;
    font-size: 25px;
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: #ddd;
    cursor: default;
    opacity: 0.7;
}
.lf_ico .lf_ico_txt:before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #a0a977;
    z-index: -1;
    border-radius: 100%;
    opacity: 0.7;
    transition: all 0.2s ease-in;
}
.lf_ico .lf_ico_txt:hover:before  {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    background-color: #00a977;
    opacity: 0.9;
} 
.lf_ico .lf_ico_txt:hover {
    opacity: 0.9;
    color: #eee;
}
.ico_chrome:before, .ico_China:before, .ico_firefox:before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.7;
    transition: all 0.5s ease-in;
}
.ico_chrome:before {
    background-image: url(../img/chrome.png);
}
.ico_China:before {
    background-image: url(../img/China.png);
}
.ico_firefox:before {
    background-image: url(../img/firefox.png);   
}
.ico_China:hover:before,.ico_chrome:hover:before,.ico_firefox:hover:before {
    -webkit-transform: scale(1.6) rotate(360deg) translateY(-15px);
    transform: scale(1.6) rotate(360deg) translateY(-15px);
    opacity: 0.9;
}
.lf_main {
    width: 770px;
    padding: 1em 35px;
    margin-left: 150px;
    margin-right: 200px;
    border: 5px solid #333;
    border-radius: 10px;
    margin-bottom: 1em;
}

/* >> 导航栏 */
.lf_nav {
    list-style: none;
}
.lf_nav li {
    /* display: inline-block; */
    text-align: right;
    padding: .6em 1em;
    transition: all 0.5s ease-in;
}
.lf_nav li h1 {
    font-size: 25px;
}
.lf_nav li h1 a {
    text-decoration: none;
    color: #CAB878;
}
.lf_nav li h3 a {
    font-size: 18px;
    color: #C7B394;
    text-decoration: none;
    transition: all 0.5s ease-in;
}
.lf_nav li:hover {
    background-color: #6B5C45;
}
.lf_nav li.choose{
    background-color: #54482C;
    color: #799095;
}
.lf_nav .lf_nav_img, .lf_nav .lf_nav_img:hover {
    padding: 0;
    background: transparent;
    font-size: 0;
}
.lf_nav .lf_nav_img img {
    max-height: 100%;
    max-width: 100%;
}
/* << 导航栏 */
/* << base */

/* >>index */
.lf_pagination {
    text-align: center;
    padding: 10px 29px;
}
.lf_pagination .lf_page_link {
    color: #A56D3E;
    margin: auto 6px;
    padding: 4px;
    text-decoration: none;
    transition: color 0.3s ease-in;
    line-height: 29px;
}
.lf_pagination .lf_page_current {
    margin: auto 6px;
    color: #00a977;
    border-bottom: 2px solid #00a977;
    padding: 4px;
}
.lf_pagination .lf_page_link:hover {
    color: #e3904a;
    border-bottom: 2px solid #e3904a;
}

.lf_page_previous, .lf_page_next {
    font-weight: bolder;
    border-radius: 100%;
    line-height: 29px;
    width: 29px;
    text-decoration: none;
    color: white;
    background: #A56D3E;
    opacity: 0.5;
    transition: all 0.3s ease-in;
}
.lf_page_previous:hover, .lf_page_next:hover {
    opacity: 0.9;
    background: #e3904a;
    border-radius: 5px;
} 
.lf_page_previous {
    float: left;
    margin-left: -29px;
}
.lf_page_next {
    float: right;
    margin-right: -29px;
}

/* <<index */

/* >> comment Metrize_Icons.png*/
.lf_comment{
   margin:20px auto 10px;
}
.lf_comment .lf_comment_count {
    padding: 5px;
    background-color: #00a977;
    font-weight: bold;
    border-radius: 5px;
    color: #ddd;
    opacity: 0.7;
    cursor: pointer;
    display: inline-block;
}
.lf_comment .lf_comment_count:hover {
    opacity: 0.9;
}
.lf_comment .lf_comment_count a {
    text-decoration: none;
    color: #ddd;
}
.lf_comment_control {
    text-align:center;
    padding: 10px 0;
}
.lf_open_comment{
    background: url(../img/i_comment_l.png) 0px 0px no-repeat;
    height: 32px;
    width: 31px;
    display: inline-block;
    cursor:pointer;
    opacity: 0.8;
    transition: all 0.3s ease-in;
}
.lf_open_comment:hover {
    opacity: 1;
}
.lf_open_comment_d{
    background: url(../img/i_comment_d.png) 0px 0px no-repeat;
    height: 32px;
    width: 31px;
    display: inline-block;
    cursor:pointer;
    opacity: 0.8;
    transition: all 0.3s ease-in;
}
.lf_open_comment_d:hover {
    opacity: 1;
}

/* end of page */

/* >> postList */
.lf_posts {
    list-style: none;
}
.lf_posts li {
    margin: 8px auto;
    /*border-bottom: 1px dashed #72714E; dotted dashed*/
    line-height: 30px;
    padding-left: 140px;
}
.lf_posts li:hover {
   /*border-bottom: 1px dashed #DBA360;*/
}
.lf_posts li .lf_post_date_label {
    color: #a39570;
    float: left;
    margin-right: 10px;
    width: 130px;
    text-align: center;
    margin-left: -140px;
    letter-spacing: normal;
}
.lf_posts li a {
    color: #c6c6c6;/*#c2c2c2 #cfcfcf*/
    text-decoration: none;
/*    float: left;*/
/*    max-width: 460px;
    text-overflow: ellipsis;
    overflow: hidden;*/
/*    white-space: nowrap;*/
    transition: all 0.3s ease-in;
}
/*a:hover不能有空格？*/
.lf_posts li a:hover { 
    color: #d98944;
    /*text-decoration: underline;
    margin-left: -16px;*/
    -webkit-animation: shake 0.25s ease 0.25s;
    -moz-animation: shake 0.25s ease 0.25s;
    animation: shake 0.25s ease 0.25s;
}
/* << postList */

/* >> tag */
.lf_tag_page {
    /*max-width: 600px;*/
    margin: auto;
}
.lf_tags_div{
    text-align: center;
    padding: 5px 10px;
    margin: auto;
}

.lf_post_tags {
    list-style: none;
    font-size: 0;
}
.lf_post_tags li .lf_post_nums{
    vertical-align: super;
    font-size: 0.8em;
}
.lf_post_tags li {
    display: inline-block;
    margin: 0px 5px 5px 0;
    color: #B4C3C5;
    font-size: 12px;
    line-height: 24px;
}
.lf_post_tags li:hover a {
    background-color: #AD9165;
    color: #eee;
}
.lf_post_tags li a {
    color:  #000; /* #B4C3C5; */
    background-color: #B7BB72;/* #796C51; */
    padding: 4px;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.5s ease-in;
    font-weight: bold;
}

.lf_tag_posts h2 {
    text-align: left;
    margin-top: 10px;
    /*color: #cdcdcd;*/
    color: #07D6A7;
}
/* << tag */

/* >> archive */
.lf_archive_page {
    /*max-width: 600px;*/
    margin: auto;
}
.lf_archive_page h2 {
    text-align: left;
    margin-top: 10px;
    /*color: #cdcdcd;*/
    color: #ff9;
}
/* << archive */

/* >> post */
.lf_post{
    
}
.lf_post_title {
    font-weight: normal;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.6em;
}
.lf_post_title a {
    text-decoration: none;
    color: #e3904a;
}
.lf_post_title a:hover {
    /*text-decoration: underline;*/
}
.lf_post .lf_meta {
    text-align: center;
    margin-bottom: 1.6em;
}
.lf_post .lf_meta .lf_date_author {
    color: #665848;
    font-size: 12px;
    line-height: 1.2em;
}
/* markdown style */
.lf_markdown br {
    /* line-height: 2.2em; */
}
.lf_markdown p {
    margin: 1.6em auto;
    line-height: 1.8em;
} 
.lf_markdown {
     color: #c6c6c6;
}
.lf_markdown a {
    color: #A56D3E;
    padding: 0 3px;
    text-decoration: none;
    transition: all 0.5s ease-in;
}
.lf_markdown a:hover {
    color: #e3904a;
    text-decoration: underline;
}
.lf_markdown blockquote {
    background-color: #3b3b3b;
    border-left: 5px solid #5b5b5b;
    margin: 1.6em auto;
    padding: 5px 18px;
}
.lf_markdown code {
    margin: 0 2px;
    padding: 0px 5px;
    /*border: 1px dashed #383;*/
    background-color: #21221C;
    border-radius: 3px;
    font-family: inherit;
}
.lf_markdown strong {
    color: #07D6A7;
}
.lf_markdown em {
    color: #07D6A7;
}
.lf_markdown del {
    color: #E01D1D;
}
.lf_markdown mark {
    margin: 0 5px;
    padding: 0 4px;
    border-radius: 3px;
    font-style: normal;
}
div.highlight {
    margin: 1.4em auto;
}
.lf_markdown h1,.lf_markdown h2,.lf_markdown h3,.lf_markdown h4,.lf_markdown h5,.lf_markdown h6 {
    line-height: 1.8em;
    margin-top: 1.8em;
    margin-bottom: 1.2em;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
}
.lf_markdown h1 + *, .lf_markdown h2 + *, .lf_markdown h3 + *, .lf_markdown h4 + *, .lf_markdown h5 + *, .lf_markdown h6 + * {
    margin-top: 0em;
}
.lf_markdown h1, .lf_markdown h3, .lf_markdown h5 {
    background: #111;
}
.lf_markdown h2, .lf_markdown h4, .lf_markdown h6 {
    background: #222;
}
.lf_markdown h3, .lf_markdown h4 {
    text-align: left;
    font-size: 1.1em;
    margin-top: 1.6em;
    margin-bottom: 1em;
}
.lf_markdown h5, .lf_markdown h6 {
    font-size: 1em;
    display: inline-block;
    margin-bottom: 0.5em;
    margin-top: 0;
    text-align: left;
    padding: 0.3em 0.5em 0;
    border-bottom: 1px solid #6D883E;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.lf_markdown sup {
    vertical-align: super;
    font-size: smaller;
}
.lf_markdown sub {
    vertical-align: sub;
    font-size: smaller;
}
.lf_markdown u {
    border-bottom: 3px solid #07D6A7;
    text-decoration: none;
    padding: 0px 5px;
    margin: 0 2px;
}
.lf_markdown blockquote p {
    margin: 8px 0;
}
.lf_markdown ul, .lf_markdown ol {
    line-height: 1.8em;
    margin: 1.6em auto;
    padding-left: 40px;
}
.lf_markdown table {
    border-collapse: collapse;
    margin: 10px auto;
}
.lf_markdown table td, .lf_markdown table th{
    border: 1px solid black;
    padding: 8px;
    border: 1px solid rgba(255,255,255,0.3);
}
.lf_markdown table td {
    border: 1px solid rgba(255,255,255,0.3);
}
.lf_markdown table th {
    border: 1px solid rgba(255,255,255,0.3);
    border-top: 0px none;
    border-bottom-width: 2px;
    padding: 8px;
}
.lf_markdown table thead tr {
    background-color: rgba(249,249,249,0.3);
}
.lf_markdown img/*, img.lf_img_min*/ {
    /*display: block;
    margin: 8px auto;
    max-width: 75%;*/
    max-width: 90%;
    max-height: 300px;
}
.lf_img_sec {
    margin: 1.6em auto;
}
/* << post */


.lf_img_sec a.lf_img_link {
    padding: 0;
    margin: 0;
    /*display: inline-block;*/
    /*border: 1px solid #ddd;*/
/*     -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); */

}
.lf_img_sec a.lf_img_link:hover {
  
/*     -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
box-shadow: 8px 8px 15px rgba(0,0, 0, 0.4); */
}
.lf_img_sec a.lf_img_link img {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 6px solid #776154;
}
.lf_img_sec {
    text-align: center;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/** end of popup **/

/* << 404 */
.lf_404_page {
    text-align:center;
    /*
    position:absolute;
    left:50%;
    margin-left:-202px;*/
    width: 404px;
    margin: auto;
    margin-top:20px;
}
.lf_all_freeze {
    background: url(../img/we_are_all_freeze.jpg);
    width: 367px;
    height: 340px;
    margin: auto;
    border-bottom: 2px solid #00a977;
}
.lf_404_title {
    font-weight: bold;
    color: red;
    font-size: 20px;
}
.lf_404_txt {
    color: rgb(255, 152, 152);
    line-height: 40px;
    font-weight: bold;
}


/*@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {
*/
@media screen and (max-width: 1222px) {
    .lf_footer {
        margin-left: 860px;
    }
    .lf_site {
        width: 1060px;
    }
    .lf_main {
        width: 630px;
    }
}
@media screen and (max-width: 1075px) {
    .lf_footer {
        float: none;
        width: auto;
        position: static;
        margin: 1em auto;
        margin-left: 150px;
    }
    .lf_site {
        width: 875px;
        overflow: hidden;
    }
    .lf_main {
        margin-right: 15px;
    }
}
@media screen and (max-width: 890px) { /*因为滚动条干扰，所以max稍稍大于理论值，其它同理*/
    .lf_footer {
        float: none;
        width: auto;
        position: static;
        margin: 1em auto auto;
        padding: 1em;
        border-top: 6px solid #444;
    }
    .lf_header {
        text-align: center;
        margin: auto;
        position: fixed;
        padding: 0;
        width: 100%;
        background: #232323;
        height: 37px;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    }
    .lf_nav .lf_nav_img img { height: 37px!important; }
    .lf_main {
        margin-right: auto;
        margin-left: auto;
        width: auto;
        margin-top: 55px;
        border: none;
    }
    .lf_nav {
        display: inline-block;
    }
    .lf_nav li  {
        float: left;
    }
    .lf_site {
        width: auto;
        overflow: hidden;
    }

    .lf_tag_posts h2 {
        border-top: 45px solid transparent;
        margin-top: -35px;
    }
}
@media screen and (max-width: 555px) {
    .lf_posts li .lf_post_date_label .lf_date_week {
            display: none;
        }
    .lf_posts li .lf_post_date_label {
        margin-right: 5px;
        width: 90px;
        margin-left: -95px;
    }
    .lf_posts li {
        padding-left: 95px;
    }
}
.lf_no_header .lf_main {
    margin-left: 75px;
}
.lf_no_header .lf_footer {
    margin-left: 925px;
}
.lf_no_footer {
    width: 1000px;
}
@media screen and (max-width: 1222px) {
    .lf_no_header .lf_footer {
        margin-left: 785px;
    }
    .lf_no_footer {
        width: 1000px;
    }
}
@media screen and (max-width: 1075px) {
    .lf_no_header {
        width: 860px;
    }
    .lf_no_footer {
        width: 860px;
    }
    .lf_no_header .lf_main {
        margin-left: auto;
        margin-right: auto;
        border: none;
        width: auto;
        margin-top: 1em;
    }
    .lf_no_header .lf_footer {
        float: none;
        width: auto;
        position: static;
        margin: 1em auto auto;
        padding: 1em;
        border-top: 6px solid #444;
    }
}
@media screen and (max-width: 890px) {
    .lf_no_header {
        width: auto;
    }
     .lf_no_footer {
        width: auto;
    }
    .lf_no_header .lf_main {
        margin-left: auto;
        margin-right: auto;
        border: none;
        width: auto;
        margin-top: 1em;
    }
}
.lf_no_site_msg .lf_main {
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: auto;
    margin-top: 1em;
    max-width: 832px;
}