*{
    margin: 0;
    padding: 0;
    outline: none;
}
html, body{
    font-family:"Microsoft YaHei", "微软雅黑", Tahoma, Verdana, SimSun, "宋体", Heiti, "黑体", Helvetica, Arial, sans-serif;
    background-color: #9A866B;
    min-height: 100%;
}
.lf_site {
    min-height: 100%;
}
/* end of base */

.lf_header, .lf_main, .lf_footer {
    margin: auto;
    width: 86%;
    padding: 0 16px;
    min-width: 600px;
    max-width: 1000px;
}
.lf_footer {
    padding: 15px 0;
    margin: auto;
    font-size: 12px;
}
.lf_header {
    /*border-bottom: 1px dotted #5A7E69;*/
    margin: auto;
}
.lf_footer {
    text-align: center;
    vertical-align: top;
    /*border-top: 1px dotted #781D1C;*/
    color: #781D1C;
}
.lf_main {
    margin-top: 10px;
}
/*导航栏*/
.lf_nav {
    list-style: none;
    text-align: center;
    font-size: 0;
}
.lf_nav li {
    display: inline-block;
}
.lf_nav li h1 {
    padding: 10px 10px 10px 0;
    font-size: 25px;
}
.lf_nav li h1 a {
    text-decoration: none;
    color: #CAB878;
}
.lf_nav li h3 a {
    font-size: 18px;
    display: block;
    color: #C7B394;
    text-decoration: none;
    padding: 18px 10px 10px;
    transition: all 0.5s ease-in;
}
.lf_nav li h3 a:hover {
    background-color: #6B5C45;
}
.lf_nav li h3 a.choose {
    background-color: #54482C;
    color: #799095;
}

/* >>index */
.lf_pagination {
    text-align: center;
    padding: 10px;
}

.lf_pagination a {
    text-decoration: none;
    margin: auto 4px;
    color: #38547F;
}

.lf_index {
    max-width: 600px;
    margin: auto;
}
/* <<index */

/* end of page */

.lf_posts {
    list-style: none;
}
.lf_posts li {
    margin: 8px auto;
    border-bottom: 1px dashed #72714E; /*dotted dashed*/
    line-height: 30px;
}
.lf_posts li:hover {
   border-bottom: 1px dashed #DBA360;
}
.lf_posts li span {
    color: #4F5728;
    float: right;
    margin-left: 6px;
}
.lf_posts li a {
    color: #352D13;
    text-decoration: none;
    /*transition: all 0.3s ease-in;*/
}
/*a:hover不能有空格？*/
.lf_posts li a:hover { 
    /*margin-left: -16px;*/
    -webkit-animation: shake 0.25s ease 0.25s;
    -moz-animation: shake 0.25s ease 0.25s;
    animation: shake 0.25s ease 0.25s;
}
/* end of posts */

.lf_tag_page {
    max-width: 600px;
    margin: auto;
}
.lf_tags_div{
    text-align: center;
    padding: 5px 10px;
    margin: auto;
}

.lf_post_tags {
    list-style: none;
    font-size: 0;
}
.lf_post_tags li .lf_post_nums{
    vertical-align: super;
    font-size: 0.8em;
}
.lf_post_tags li {
    display: inline-block;
    margin: 0px 5px 5px 0;
    color: #B4C3C5;
    font-size: 12px;
    line-height: 24px;
}
.lf_post_tags li:hover a {
    background-color: #AD9165;
}
.lf_post_tags li a {
    color: #B4C3C5;
    background-color: #796C51;
    padding: 4px;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.5s ease-in;
}

.lf_tag_posts h2 {
    text-align: left;
    margin-top: 10px;
}
/* end of tags */

/*>>archive*/
.lf_archive_page {
    max-width: 600px;
    margin: auto;
}
.lf_achive_page h2 {
    text-align: left;
}
/*<<archive*/

.lf_post{
    
}
.lf_post_title {
    font-weight: normal;
    text-align: center;
    font-size: 1.4em;
}
.lf_post_title a {
    text-decoration: none;
    color: black;
}
.lf_post .lf_meta {
    text-align: center;

    margin-bottom: 10px;
}
.lf_post .lf_meta .lf_date_author {
    color: #665848;
    font-size: 12px;
}
/* markdown style */
.lf_markdown p {
    margin: 16px 0;
     
} 
.lf_markdown {
     color: #26200E;
}
.lf_markdown a {
    text-decoration: none;
    color: #38547F;
    padding: 0 3px;
    /*transition: all 0.5s ease-in;*/
}
.lf_markdown a:hover {
    color: blue;
    text-decoration: underline;
}
.lf_markdown blockquote {
    background-color: #998265;
    border-left: 5px solid #6B7236;
    margin: 16px auto;
    padding: 5px 25px;
    color: black;
}
.lf_markdown blockquote p {
    margin: 8px 0;
}
.lf_markdown table {
    border-collapse: collapse;
    margin: 10px auto;
}
.lf_markdown table td, .lf_markdown table th{
    border: 1px solid black;
    padding: 3px;
}
.lf_markdown img {
    display: block;
    margin: 8px auto;
    max-width: 75%;
}
/* end of post */


.lf_img_sec a.lf_popup_img {
    padding: 0;
    margin: 0;
    display: inline-block;
    
    line-height: 20px;
    /*border: 1px solid #ddd;*/
    border: 6px solid #776154;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}
.lf_img_sec a.lf_popup_img:hover {
  
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 8px 8px 15px rgba(0,0, 0, 0.4);
}
.lf_img_sec a.lf_popup_img img {
    border: none;
    margin: 0;
    padding: 0;
}
.lf_img_sec {
    text-align: center;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/** end of popup **/