---
desc: 基页面框架模板
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- 尝试以Chrome进行渲染，不行则以IE最高版本进行渲染 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.LF.name }}{% endif %}</title>
        <!-- 让宽度适应设备宽度 -->
        <meta name="viewport" content="width=device-width">
        <script src="{{ site.url.bpath }}{{ site.url.apath }}/js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ site.url.bpath }}{{ site.url.apath }}/css/highlight_monokai.css">
        {% comment %}{% include add_script h_css=page.h_css h_script=page.h_script script_str="jquery-1.3.2.min" external_h_css=page.external_h_css external_h_script=page.external_h_script %}{% endcomment %}
    {% if page.imgZoom %}
        <!-- Magnific Popup core CSS file -->
        <link rel="stylesheet" href="{{ site.url.bpath }}{{ site.url.apath }}/js/magnific-popup/magnific-popup.css"> 
        <!-- Magnific Popup core JS file -->
        <script src="{{ site.url.bpath }}{{ site.url.apath }}/js/magnific-popup/jquery.magnific-popup.js"></script> 
        <script type="text/javascript">
        $(document).ready(function(){
            $('.lf_popup_img').magnificPopup({
              type: 'image',
              gallery:{
                enabled:false
              },
              disableOn: function() {
                  return true; //是否禁用
              },
              mainClass: "mfp-with-zoom",
              fixedContentPos: true,
              zoom: {
                 enabled: true, easing: 'ease-in-out',
                 duration: 300 

              },midClick: true,closeOnContentClick:true,showCloseBtn:false,closeBtnInside:true,
              image: {
                verticalFit: true,
            tError: '图片加载错误！',
            titleSrc: function(item) {
              return '{{ page.title | replace: "'","\'" }}';
            }
          }
            });
        });
        </script>
    {% endif %}
         <link rel="stylesheet" href="{{ site.url.apath }}{{ site.url.theme }}/main.css" />
    </head>
    <body>
        <div class="lf_site">
            {{ content }}
        </div>
        <div class="_lf_script">
             {% comment %}
        {% include add_scr{% include add_script f_css=page.f_css f_script=page.f_script str="test1,test2" external_f_css=page.external_f_css external_f_script=page.external_f_script %}{% endcomment %}
        </div>
    </body>
</html>
